html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.title {
  background-color: #f4c4c4;
  text-align: center;
  line-height: 100px;
  position: relative;
}
.title h1 {
  font-size: 40px;
  font-weight: 700;
}
.sideMenu {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.sideMenu label {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: #000;
}
.subTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.list {
  line-height: 50px;
}
.contentCenter {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_popup {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}

.form {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.form input {
  margin: 0 25px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.food-item,
.cartprice {
  background-color: #ffffff; /* 카드 배경색 */
  border-radius: 15px; /* 둥근 모서리 */
  border: solid 1px gray;
  margin: 20px;
  padding: 20px;
  width: 400px; /* 카드 너비를 늘림 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  transition: transform 0.3s, box-shadow 0.3s;
}

.food-item h3 {
  font-size: 1.6em; /* 제목 크기 */
  margin: 10px 0;
  color: #333; /* 제목 색상 */
  font-family: "Arial", sans-serif; /* 폰트 스타일 */
}

.food-item p {
  margin: 5px 0;
  font-size: 1em; /* 설명 크기 */
  color: #666; /* 설명 색상 */
}

.food-item .price {
  font-weight: bold; /* 가격 강조 */
  color: #e74c3c; /* 가격 색상 */
  font-size: 1.2em; /* 가격 크기 */
}

.food-item .good {
  color: #3498db; /* 좋아요 수 색상 */
  font-size: 0.9em; /* 좋아요 수 크기 */
}
